---
BasedOnStyle: LLVM
AlignConsecutiveAssignments: Consecutive
AlignEscapedNewlines: DontAlign
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: No
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeConceptDeclarations: false
BreakStringLiterals: false
ColumnLimit: 0
CommentPragmas: ""
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
DerivePointerAlignment: true
EmptyLineAfterAccessModifier: Leave
EmptyLineBeforeAccessModifier: Leave
FixNamespaceComments: false
IncludeIsMainRegex: ""
IndentCaseBlocks: true
IndentCaseLabels: true
IndentExternBlock: Indent
IndentGotoLabels: false
IndentRequires: true
MaxEmptyLinesToKeep: 100000
PenaltyBreakAssignment: 1
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakComment: 1
PenaltyBreakFirstLessLess: 1
PenaltyBreakOpenParenthesis: 1
PenaltyBreakString: 1
PenaltyBreakTemplateDeclaration: 1
PenaltyExcessCharacter: 1
PenaltyIndentedWhitespace: 1
PenaltyReturnTypeOnItsOwnLine: 1
PointerAlignment: Left
ReflowComments: false
ShortNamespaceLines: 0
SortIncludes: Never
SortUsingDeclarations: false
SpaceAfterTemplateKeyword: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: Leave
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
  Minimum: 0
Standard: Auto
TabWidth: 2
