.main-content-area {
	padding: 0 32px;
	max-width: 1280px;
}

.main-content-area ol>li {
	margin-top: 24px !important;
}

iframe {
	margin: 24px auto 48px auto;
	display: block;
}

.main-content-area ol>li {
	padding: 16px 24px;
	border-radius: 32px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

h3 {
    top: 32px;
    position: absolute;
    margin-left: 16px;
    font-size: 28px;
    display: inline-block;
}

h2 {
	font-size: 24px;
	margin: 8px 0 16px 0;
	display: block;
}

li h3+ul {
	margin-top: 16px;
	padding-inline-start: 52px;
	padding-bottom: 24px;
	padding-bottom: 24px;
}

ol {
	padding: 0;
}

ol>li {
	list-style: decimal inside none;
	counter-increment: listcounter;
}

ol>li::marker {
	line-height: 1.2em;
	font-size: 48px;
	content: counter(listcounter);
	color: #AD5642;
	font-weight: 500;
}

ul>li {
	list-style-position: outside;	
	margin-bottom: 0.5em !important;
}

h1 {
	margin-top: 48px;
}

#kit-vendors {
	padding-left: 64px;
} 

.kit-vendor {
	border-radius: 16px;	
	padding: 24px 32px;
	background: #fff;
	display: inline-block;
	text-decoration: none;
	margin: 0 24px 24px 0;
	vertical-align: top;
	width: 256px;
	text-align: center;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.kit-vendor * {
	display: block;
}

.kit-vendor img {
	margin: 0 auto;
}

.vendor-name {
	padding-bottom: 16px;
	font-weight: 500;
	color: #1F1E1A;
	font-size: 24px;
}

#qr-code {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

