<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-feature android:name="android.hardware.usb.accessory" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KV4PHT"
        tools:targetApi="31">
        <activity
            android:name=".ui.FirmwareActivity"
            android:exported="true"
            android:theme="@style/Theme.KV4PHT"
            android:windowSoftInputMode="stateVisible">
            <intent-filter>
                <action android:name="com.vagell.kv4pht.FIRMWARE_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.KV4PHT"
            android:windowSoftInputMode="stateVisible">
            <intent-filter>
                <action android:name="com.vagell.kv4pht.SETTINGS_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AddEditMemoryActivity"
            android:exported="true"
            android:theme="@style/Theme.KV4PHT"
            android:windowSoftInputMode="stateVisible|adjustResize"> <!-- There's an issue where fields are not scrollable, likely caused by an Android bug not honoring adjustResize on fullscreen apps, see similar bug in another project: https://github.com/dotnet/maui/issues/14281 -->
            <intent-filter>
                <action android:name="com.vagell.kv4pht.ADD_MEMORY_ACTION" />
                <action android:name="com.vagell.kv4pht.EDIT_MEMORY_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.vagell.kv4pht.OPEN_CHAT_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <service
            android:name=".radio.RadioAudioService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"></service>
    </application>

</manifest>